* {
  border: none;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font,";
  font-weight: bold;
  color: #ebdbb2;
  min-height: 20px;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

#workspaces button.active {
  background-color: #458588; /* blue */
}
.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #3c3836;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #3c3836;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #3c3836;
}
#clock,
#network,
#cpu,
#memory,
#pulseaudio,
#customclipboard,
#custom-screenshot,
#custom-power-menu {
  padding: 0 10px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#customclipboard,
#custom-screenshot,
#custom-power-menu {
  color: #ebdbb2;
}
#pulseaudio.muted {
  color: #cc241d;
  padding-top: 0;
}
#clock {
  color: #458588;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
